/* 
    Document   : style
    Created on : 13/02/2014, 23:03:22
    Author     : Fabiano Lima
    Description:
        Style principal
*/
@import url('animate.min.css');
@import url('animate.delay.css');
img{border: none;}
a{text-decoration: none;}

input[type="text"],input[type="password"]{font-size: 14px;}
root { 
    display: block;
}

body{margin: 0;padding: 0;font-family: 'open sans', arial, serif;}

.topo{width: 100%;height: 50px;background: #2b2b2b;}
.topo h3{color: #fff;font-size: 14px;float: left;margin-left: 25%;font-style: italic;font-weight: 500;}
#login{width: 300px;margin: 5% auto;overflow: hidden;}
#login .textlogin,#login .botao{border-radius: 3px;outline: none;}
#login .login{text-align: center;font-size: 36px;color: #fff;;padding: 10px;font-weight: 500;text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px}
#login .login b{font-size: 50px;}
#login .textlogin{width: 90%;padding: 15px;border: none;margin-bottom: 10px;color: #147eba;}
#login .captcha{width: 30%;border: none;float: left;border-radius: 3px;outline: none;}
#login .inputCaptcha{width: 63.5%;padding: 14.5px;border: none;margin-top: 0px;margin-left: -10px; outline: none;color: #147eba;border-radius: 3px;outline: none;}
#login .botao{width: 100%;padding: 15px;border: none;margin-top: 8px;background: #2b2b2b;;font-size: 16px;color: #fff;font-weight: bold;cursor: pointer;text-align: center;}
#login .botao:hover{background: #000;color: #fff;}
#login a{color: #fff;text-align: center;text-decoration: none;margin-left: 100px;font-size: 12px;}
#login a:hover{text-decoration:underline;color: #2b2b2b;}

#informe{width: 100%;margin: 1% auto;overflow: hidden;color: #fff;text-align: center;background: #ea0001;font-size: 14px;}
#informe p{padding: 10px;;}

.footer{width: 350px;margin: 10% auto 0 auto;}
.footer a .direitos{font-size: 11px; color: rgba(255,255,255,1.0); position: absolute; position: fixed; bottom: 0; left: 0;width: 100%; text-align: center;padding: 5px 0;}

.animate0 {
   	-webkit-animation-duration: .8s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .8s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .8s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .8s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}

